.navbar-container {
    width: 100%;
    padding: 20px 0;
    color: #fff;
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-icon {
    width: 24px;
    margin-right: 7px;
}

.navbar-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}